html {
    font-size: 1px;
}

.beco {
    grid-template-columns: 240rem auto;
    grid-template-rows: 70rem auto;
}
.beco__title {
    padding-left: 60rem;
}
.beco__search {
    padding: 30rem 60rem 40rem 60rem;
}
.beco__coupons {
    grid-template-columns: repeat(auto-fit, minmax(347rem, 1fr));
    grid-template-rows: repeat(auto-fit, 164rem);
    padding: 40rem 60rem 120rem 60rem;
}

.sidebar {
    width: 240rem;
}
.sidebar__tongue {
    display: none;
}
.sidebar__header {
    width: 103rem;
    height: 114rem;
    margin-left: 40rem;
    margin-bottom: 28rem;
}
.sidebar__title {
    font-size: 16rem;
}
.sidebar__logo {
    width: 50rem;
    height: 50rem;
}
.sidebar__menu {
    height: 278rem;
}
.sidebar__icon {
    padding-left: 36rem;
}
.sidebar__text {
    font-size: 16rem;
}

.search__input {
    font-size: 18rem;
}