html {
    font-size: 1px;
}
.beco {
    grid-template-columns: 240rem;
    grid-template-rows: 7.8%;
}
.beco__title {
    text-align: left;
    min-width: 90%;
}
.beco__search {
    padding: 30rem 0rem 40rem 60rem;
}
.beco__coupons {
    grid-template-columns: repeat(3, 347rem);
    grid-template-rows: repeat(auto-fit, 164rem);
    padding: 3% 5% 3% 5%;
}

.sidebar {
    width: 33.5%;
}
.sidebar__tongue {
    display: none;
}
.sidebar__header {
    height: 132rem;
    margin-left: 40rem;
}
.sidebar__title {
    font-size: 16rem;
}
.sidebar__logo {
    width: 50rem;
    height: 50rem;
}
.sidebar__menu {
    height: 278rem;
}
.sidebar__icon {
    padding-left: 40rem;
}
.sidebar__text {
    font-size: 16rem;
}

.search {
    width: 1080rem;
}
.search__input {
    font-size: 18rem;
}