html {
    font-size: 0.89px;
}
.beco {
    grid-template-columns: 118rem 750rem;
    grid-template-rows: 6.5%;
}

.beco__title {
    text-align: right;
    min-width: 91%;
    margin-bottom: 15rem;
}
.beco__search {
    padding: 25rem 0rem 28rem 28rem;
}
.beco__search_scrolled {
    padding: 38rem 0rem 28rem 86rem;
}
.beco__coupons {
    grid-template-columns: repeat(2, 332rem);
    grid-template-rows: repeat(auto-fit, 162rem);
    padding: 4% 4% 6% 4%;
}

.sidebar {
    width: 28%;
}
.sidebar_opened {
    width: 38%;
}
.sidebar__tongue {
    right: -54rem;
}
.sidebar__header {
    height: 114rem;
    margin-left: 46rem;
    margin-bottom: 30rem;
}
.sidebar__logo {
    width: 27rem;
    height: 27rem;
}
.sidebar__title {
    display: none;
}
.sidebar__title_opened {
    font-size: 16rem;
}
.sidebar__menu {
    height: 298rem;
}
.sidebar__icon {
    padding-left: 43rem;
}
.sidebar__text {
    display: none;
}
.sidebar__text_opened {
    font-size: 18rem;
}

.search {
    width: 690rem;
}
.search_scrolled {
    width: 95%;
}
.search__input {
    font-size: 20rem;
}