html {
    font-size: 0.89px;
}

.beco {
    grid-template-columns: 118rem auto;
    grid-template-rows: 76rem auto;
}
.beco__title {
    text-align: right;
    width: 100%;
    padding-right: 58rem;
}
.beco__search {
    padding: 40rem 30rem 28rem 28rem;
}
.beco__search_scrolled {
    padding: 38rem 30rem 28rem 86rem;
}
.beco__coupons {
    grid-template-columns: repeat(auto-fit, minmax(332rem, 1fr));
    grid-template-rows: repeat(auto-fit, 162rem);
    padding: 30rem 30rem 90rem 30rem;
}

.sidebar {
    width: 118rem;
}
.sidebar_opened {
    width: 274rem;
}
.sidebar__tongue {
    right: -54rem;
}
.sidebar__header {
    height: 114rem;
    margin-left: 46rem;
    margin-bottom: 30rem;
}
.sidebar__logo {
    width: 27rem;
    height: 27rem;
}
.sidebar__title {
    display: none;
}
.sidebar__title_opened {
    font-size: 16rem;
}
.sidebar__menu {
    height: 298rem;
}
.sidebar__icon {
    padding-left: 43rem;
}
.sidebar__text {
    display: none;
}
.sidebar__text_opened {
    font-size: 18rem;
}

.search__input {
    font-size: 20rem;
}