.sidebar {
    height: 100%;
    background: #F3F4F9;
    position: relative;
    transition: .2s;
    .sidebar__tongue {
        position: absolute;
    }
    .sidebar__header {
        display: flex;
        align-items: center;
        .sidebar__logo {
            background: url('/logo-coupon.png') no-repeat center 40%;
            margin-right: 10rem;
            background-size: contain;
        }
        .sidebar__title {
            font-family: 'Conv_Poppins';
            font-weight: 500;
            text-transform: uppercase;
        }
        .sidebar__title_opened {
            display: block;
        }
    }
    .sidebar__menu {
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;
        margin-top: 20rem;
        .sidebar__item {
            display: flex;
            width: 100%;
            border-left: 3rem solid #F3F4F9;
            box-sizing: border-box;
            .sidebar__icon {
                padding-right: 12rem;
            }
            .sidebar__text {
                font-family: 'OpenSans', Arial, sans-serif;
                font-weight: 600;
            }
            .sidebar__text_opened {
                display: block;
            }
            &:active, &:hover, &:focus{
                color: #34ABE0;
                border-left: 3rem solid #34ABE0;
                svg path {
                    stroke: #34ABE0;
                }
            }
        }
    }
}