mixin sidebar(options)
  div.sidebar
    div.sidebar__inner
      div.sidebar__header
        div.sidebar__logo
        label.sidebar__title Beco
      div.sidebar__menu
        div.sidebar__item
          div.sidebar__icon
            include icon-catalog.svg
          label.sidebar__text Каталог

        div.sidebar__item
          div.sidebar__icon
            include icon-health.svg
          label.sidebar__text Здоровье

        div.sidebar__item
          div.sidebar__icon
            include icon-beauty.svg
          label.sidebar__text Красота

        div.sidebar__item
          div.sidebar__icon
            include icon-enjoy.svg
          label.sidebar__text Развлечения
        
        div.sidebar__item
          div.sidebar__icon
            include icon-car.svg
          label.sidebar__text Авто