.search {
    height: 52px;
    border: 1rem solid rgba(51, 51, 51, 0.2);
    border-radius: 50rem;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0rem 13px;
    .search__icon {
        margin-right: 8rem;
    }
    .search__form {
        width: 100%;
        .search__input {
            width: 100%;
            font-family: 'OpenSans', Arial, sans-serif;
            border: 0rem;
            outline: none;
            &::placeholder{
                color: rgba(0, 0, 0, 0.45);
            }
            &::-webkit-search-decoration, 
            &::-webkit-search-cancel-button, 
            &::-webkit-search-results-button, 
            &::-webkit-search-results-decoration {
                display: none;
            }
        }
    }
}