mixin search(options)
  div.search
    div.search__icon
      include icon-search.svg
    form.search__form(action="" method="get")
      input.search__input(name="searching" placeholder="Какой магазин вам нужен?" type="search")