include ../../blocks/search/search
include ../../blocks/sidebar/sidebar

doctype html
html(lang="en")
  head
    meta(chaset="UTF-8" name="viewport" content="initial-scale=1.0, width=device-width")
    meta(name="keywords" content="Beco")
    meta(name="description" content="Beco")
    title Beco

    //Respond.js для IE8 (media queries)
    //[if lt IE 9]
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    //[endif]
    
  body
    div.beco
      +sidebar({})
      div.beco__inner
        div.beco__search
          +search({})