include ../../blocks/search/search
include ../../blocks/sidebar/sidebar
include ../../blocks/coupon/coupon

doctype html
html(lang="en")
  head
    meta(chaset="UTF-8" name="viewport" content="initial-scale=1.0, width=device-width")
    meta(name="keywords" content="Beco")
    meta(name="description" content="Beco")
    title Beco

    //Respond.js для IE8 (media queries)
    //[if lt IE 9]
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    //[endif]
    
  body
    div.beco
      div.beco__sidebar
        +sidebar({})
      div.beco__search
        h1.beco__title Развлечения
        +search({})
      div.beco__coupons
        +coupon({title: "Пробка на мира", description: "Вечер для двоих", number: "-50%", type: "Скидка", img: "1"})
        +coupon({title: "Кино и немцы", description: "Бесплатное пиво", number: "Варвар", type: "Промокод", img: "2"})
        +coupon({title: "Valery cakes", description: "Торт", number: "30%", type: "Скидка", img: "3"})
        +coupon({title: "Sushi sell", description: "Набор \"Праздник\"", number: "45%", type: "Скидка", img: "4"})
        +coupon({title: "Mangosteen", description: "Фрукт в подарок", number: "J130", type: "Купон", img: "5"})
        +coupon({title: "Теленок табака", description: "Стейк \"Мачете\"", number: "20%", type: "Скидка", img: "6"})
        +coupon({title: "Fire food", description: "2-я шаурма в подарок", number: "Огонь", type: "Промокод", img: "7"})
        +coupon({title: "Aroma cremeria", description: "Джелато \"Пармезан\"", number: "20%", type: "Скидка", img: "8"})
        +coupon({title: "Пробка на мира", description: "Вечер для двоих", number: "J130", type: "Купон", img: "1"})
        +coupon({title: "Кино и немцы", description: "Бесплатное пиво", number: "Варвар", type: "Промокод", img: "2"})
        +coupon({title: "Valery cakes", description: "Торт", number: "30%", type: "Скидка", img: "3"})
        +coupon({title: "Sushi sell", description: "Набор \"Праздник\"", number: "45%", type: "Скидка", img: "4"})