@font-face {
	font-family: 'OpenSans';
	src: url('/OpenSans-Regular.ttf') format('truetype');
	font-weight: 400; //300 light, 500 Medium, 600 Bold
	font-style: normal;
}

@font-face {
	font-family: 'Conv_Poppins';
	src: url('/Poppins-Regular.woff') format('woff'), url('/Poppins-Regular.ttf') format('truetype'), url('/Poppins-Regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_Roboto';
	src: url('/Roboto-Regular.woff') format('woff'), url('/Roboto-Regular.ttf') format('truetype'), url('/Roboto-Regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}